.bg-primary {
    background-color: #3A3E31 !important;
}

.bg-secondary {
    background-color: #87563D !important;
}

.bg-all {
    background-color: #F2F1F0 !important;
}

.text-primary {
    color: #F2F1F0 !important;
}

.text-secondary {
    color: #87563D !important;
}

.font-new {
    font-family: 'Bitter', serif;
}

.img-redonda {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}