

.bg-primary {
    background-color: #3A3E31 !important;
}

.bg-secondary {
    background-color: #87563D !important;
}

.bg-all {
    background-color: #F2F1F0 !important;
}

.text-primary {
    color: #F2F1F0 !important;
}

.text-secondary {
    color: #87563D !important;
}

.font-new {
    font-family: 'Bitter', serif;
}

#picture {
    height: 100%;
}

h1 {
    font-size: 100px;
}

.section {
    height: 100vh;
}

#about-size {
    height: 70vh;
}

#about-title {
    height: 15vh;
}

#project-page {
    height: 85vh;
}

#card-marg {
    margin: auto;
}




@media only screen and (max-width: 600px) {

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 30px;
    }

    #picture {
        height: fit-content;
    }

    h3 {
        font-size: 25px;
    }

    h4 {
        font-size: 15px;
    }

    #about-title {
        height: 5vh;
    }

    #about-size {
        height:auto
    }
   
    #project-page {
        height: auto;
    }

   #projects{
    height: auto;
   }

   .section {
    height: auto;
   }

   #card-marg {
    margin-bottom: 50px;
   }
}

@media screen and (orientation: landscape) {
    h1 {
        font-size: 60px;
    }
    
    
}